body {
    background-color: grey;
}

.top {
    padding-top: 5px;
    padding-right: 5px;
    text-align: center;
    background-image: url("../pics/hieno.jpg");
    height: 170px;
    width: 100%;
    border-bottom: solid;
    max-width: 1630px;
    margin: 0 auto;
}

h1 {
    color: yellow;
    text-shadow:2px 2px #ffffff;
}

.kayttaja {
    color: white;
    height: 200px;

}

.login {
    margin-top: 0;
    height: 20px;
    text-align: right;
    color: white;
}

.haku {
    margin-top: 60px;
    height: 30px;
    padding-top: 10px;
    color: white;
    text-align: right;

}

.keskiosa {
    padding: 2px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: white;
    height: 450px;
    width: 100%;
}

#sisalto {
    max-width: 1630px;
    margin: 0 auto;

}

.item1 {
    bottom: 10px;
    width: 20%;
    float: right;
    border: solid black;
    margin-right: 120px;
}

.item2 {
    width: 20%;
    float: right;
    border: solid black;
    margin-right: 40px;
    margin-left: 10px;
}

.item3 {
    width: 20%;
    float: right;
    border: solid black;
    margin-right: 40px;
}

.item4 {
    width: 20%;
    float: right;
    border: solid black;
    margin-right: 40px;

}

.uutiskirje{
    position: absolute;
    right: 20px;
    color: white;
}

footer {
    height: 200px;
    background-color: grey;
    z-index: 10;
    position: relative;
    clear: both;
    text-align: right;
    margin-top: 20px;
    max-width: 1788px;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    color: black;
    text-decoration: underline;
}