body {
    background-color: grey;
}

.top {
    padding-top: 5px;
    padding-right: 5px;
    background-image: url("../pics/hieno.jpg");
    width: 100%;
    border-bottom: solid;
    max-width: 1630px;
    margin: 0 auto;
    color: white;
    text-align: right;
}

h1 {
    color: yellow;
    text-shadow:2px 2px #ffffff;
    text-align: center;
}

h3 {
    color: black;
}
h3:hover {
    text-decoration: underline;
}
.login {
    visibility: hidden;
    margin-top: 0;
    height: 20px;
    text-align: right;
    color: white;
}
.haku {
    margin-top: 60px;
    height: 30px;
    padding-top: 10px;
    color: white;
    text-align: right;

}

#tuotenimi {
    color: black;
}

#sisalto {
    max-width: 1630px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 1px;
}

#tuotekuva {
    margin-left: 10px;
    max-width: 800px;
    max-height: 600px;
    display: inline-block;
}

.thumb {
    width: 7%;
    height: 7%;
}.thumb:hover {
    background-color: #efecef;
 }

#tuoteinfo {
    background-color: #efecef;
    max-width: 600px;
    display: inline-block;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;

}

#lisaa {
margin-left: 510px;

}

.hidden {
    visibility: hidden;
    height: 1px;
}

.nakyy {
    width: 80%;
    height: 80%;
}


@media only screen and (max-width: 1255px) {
    #sisalto{

    }
    #tuotekuva {
        max-width: 600px;
    }
    .nakyy {
        max-width: 600px;
    }

    .thumb {
        width: 15%;
        height: 15%;
        margin: 10px;
    }
    #lisaa {
        margin: 0;
    }
}


a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
footer {
    height: 100px;
    background-color: grey;
    clear: both;
    text-align: right;
    margin-top: 20px;

    max-width: 1767px;
}